numpy
Cython
h5py
Pillow
six
scipy
opencv-python
matplotlib
pyparsing<3,>=2.0.2
flake8-import-order
pandas
pytest
pytest-benchmark
xmltodict
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio

onnx
onnx-simplifier